@model NightInnV2.Models.Theme

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Theme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThemeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThemeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Drinks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drinks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Foods)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Foods)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ThemeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
