@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="main">
    <h1>Night Inn</h1>
</div>
<div class="row">
    <div class="col-sm-4">
        <h2>Theme</h2>
        @Html.ActionLink("Create a theme", "Create", "Theme", null, new { @class = "btn btn-info btn-large btn-block" })
    </div>
    <div class="col-sm-4">
        <h2>Food</h2>
        @Html.ActionLink("Create food", "Create", "Food", null, new { @class = "btn btn-info btn-large btn-block" })
    </div>
    <div class="col-sm-4">
        <h2>Drink</h2>
        @Html.ActionLink("Create a drink", "Create", "Drink", null, new { @class = "btn btn-info btn-large btn-block" })
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        @Html.ActionLink("View Themes", "Index", "Theme", null, new { @class = "btn btn-info btn-large btn-block" })
    </div>
    <div class="col-sm-4">
        @Html.ActionLink("View Foods", "Index", "Food", null, new { @class = "btn btn-info btn-large btn-block" })
    </div>
    <div class="col-sm-4">
        @Html.ActionLink("View Drinks", "Index", "Drink", null, new { @class = "btn btn-info btn-large btn-block" })
    </div>
</div>